*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.header{
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.nav{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo{
    background-color: #849FFF;
    height: 45px;
    width: 50px;
}

.search-button{
    width: 70px;
    background-color: #393939;
    color: white;
    text-align: center;
}

.main-section{
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.options-conteiner{
    display: flex;
}   

.content-conteiner{
    height: 100%;
}

.option-button{
    height: 65px;
    background-color: #888888;
    color: white;
    text-align: center;
    width: 100%;
}

.option-button:focus{
    background-color: #393939;
}

.inbox-section{
    height: 100%;
    background-color: #FFF59B;
    padding: 15px;
}

.sent-section{
    height: 100%;
    background-color: #FF9BB3;
    padding: 15px;
}

.emails-conteiner{
    display: grid;
    gap: 10px;
}

.title{
    margin: 0;
    font-size: 60px;
}

.email{
    height: 75px;
    background-color: #FFFDE8;
    text-align: justify;
    font-size: 25px;
}

